<h1>List Todo</h1>
<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"></head>

<table class="table table-bordered">
  <tr><th>id</th><th>Title</th><th>Completed</th></tr>
  <tr *ngFor="let t of listTodo">
    <td>{{t.id}}</td>
    <td> {{t.title}}</td>
    <td> {{t.completed}}</td>
  </tr>
</table>
<button (click)="getStat()" type="button" class="btn-danger">getStat</button>
<h1>Todo number: {{count}}</h1>
