<h1>Product List</h1>
<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"></head>

<form>
  <div class="form-group">
    <label>search by price:</label>
  <input type="number" name="price" class="form-control" [(ngModel)]="priceMax">
  </div>
</form>
<p></p>
<p></p>
<div *ngFor="let p of productList">
  <div class="col-md-3">
    <div class="card" style="align-content: center">
      <img src="../../assets/img.png" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Product id: {{p.id}}</h5>
      <h6 class="card-text">Product name: {{p.title}}</h6>
      <p class="card-text"> Price: {{p.price}} $ -- Quantity: {{p.quantity}} $ -- like: {{p.like}}</p>
      <button (click)="deletecommand(p.id)" type="button" class="btn-danger" >Delete</button>

      <p></p>
      <a routerLink="id-->{{p.id}},    title-->{{p.title}},   price-->{{p.price}},   quantity-->{{p.quantity}},   like-->{{p.like}}">detail</a>

    </div>
    </div>
  </div>
</div>

<!--
<button (click)="getAlertStock()">get Alert Stock</button>
<h1>{{alertStock}}</h1>
-->
